<div class="row">
  <div class="col-md-9">
    <div class="card" style="margin-bottom: 20rem;">
      <div class="card-body">
        <%= simple_form_for(@question) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <% if question.closed? && !question.duplicate? %>
              <%= f.input :reopen, as: :hidden, input_html: { value: params[:reopen] }, wrapper: false, label: false %>
            <% end %>
            <%= f.input :title,
              hint: 'Be specific and imagine you’re asking a question to another person' %>
            <%= f.input :body, as: :trix_editor, 
              hint: 'Expand the summary you put in the title'  %>
            <%= f.input :tag_list,
              prompt: 'Search for tags...',
              hint: 'Add up to 5 tags to describe what your question is about',
              wrapper_html: { class: 'mt-3'},
              collection: f.object.tag_list.collect { |t| t },
              input_html: { 
                class: 'select2', 
                multiple: true, 
                remote: true,
                data: {
                  tags: current_user.has_privilege_to_create_tag?,
                  url: search_tags_path
                }
              }
            %>
          </div>

          <div class="form-actions d-flex justify-content-between">
            <%= link_to 'Back', :back, class: 'btn btn-default' %>
            <%= f.button :submit, class: 'btn btn-orange' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <div class="card-title my-auto">
          <p class="mb-0">Step 1: Draft your question</p>
        </div>
      </div>
      <div class="card-body">
        <p class="mb-1">
          The community is here to help you every question you may have.
        </p>
      </div>
      <div class="tips small px-3 border-top">
        <p class="fw-bold text-orange mb-2 mt-3">Tips on getting good answers quickly</p>
        <ul>
          <li>
            Make sure your question has not been asked already
          </li>
          <li>
            Keep your question short and to the point
          </li>
          <li>
            Double-check grammar and spelling
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>