<div class="row">
  <div class="col-md-9">
    <div class="card mb-4">
      <div class="card-body">
        <%= simple_form_for(@question) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <% if question.closed? && !question.duplicate? %>
              <%= f.input :reopen, as: :hidden, input_html: { value: params[:reopen] }, wrapper: false, label: false %>
            <% end %>
            <%= f.input :title %>
            <%= f.input :body, as: :trix_editor %>
            <%= f.input :tag_list,
              wrapper_html: { class: 'mt-3'},
              collection: f.object.tag_list.collect { |t| t },
              input_html: { 
                class: 'select2', 
                multiple: true, 
                remote: true,
                data: {
                  placeholder: 'Search for tag...',
                  'maximum-selection-length': Question::MAX_TAGS_ALLOWED,
                  tags: current_user.has_privilege_to_create_tag?,
                  ajax: {
                    url: search_tags_path
                  }
                }
              }
            %>
          </div>

          <div class="form-actions d-flex justify-content-between">
            <%= link_to 'Back', :back, class: 'btn btn-default' %>
            <%= f.button :submit, 
              t("buttons.#{controller_name}.#{action_name}"), 
              class: 'btn btn-primary' 
            %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <p class="mb-1">
          Ask <b>anything!</b> But be nice and have a read in our 
          <%= link_to 'Code of Conduct', page_path('conduct'), target: '_blank' %> :)
        </p>
        <p class="mb-1">
          The community is here to help you every question you may have.
        </p>
      </div>
      <div class="tips small px-3 border-top">
        <p class="fw-bold text-primary mb-2 mt-3">Tips on getting good answers quickly</p>
        <ul>
          <li>
            Make sure your question has not been asked already
          </li>
          <li>
            Keep your question short and to the point
          </li>
          <li>
            Double-check grammar and spelling
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>