<div class="card mb-4 question" id="question_<%= question.id %>">
  <div class="card-body">
    <div class="d-flex">
      <%= image_tag 'https://avatars1.githubusercontent.com/u/50052646?s=460&u=263b2a06edea0362ab6eeb5a67b600b949db5610&v=4',
      class: 'img-fluid rounded-circle user-avatar me-2'%>
      <div class="flex-fill">
        <div class="d-flex flex-sm-column flex-sm-row flex-lg-row flex-xl-row justify-content-between">
          <div>
            <span class="fw-bold"><%= question.user.name %></span>  
            <span class="text-muted"> · <%= time_ago_in_words(question.created_at) %> ago</span>     
          </div>
          <div>
            <span class="text-orange text-uppercase"><small><%= question.status %> </small></span>
          </div>   
        </div>
        
        <p class="text-dark mt-1 mb-0"><%= question.content %></p>
      </div>   
    </div>
    <hr />
    <div class="d-flex justify-content-between mt-3 text-muted">
      <div class="question-votes">
        <%= render 'concerns/partials/votes', { votable: question, votable_type: 'question' } %>
      </div>
      <div>
        <i class="far fa-comment"></i> <%= question.answers_count %>
        <i class="far fa-eye ms-3"></i> 10
        <i class="fas fa-rss ms-3"></i> 2
      </div>
      <div>
        <i class="fas fa-share"></i>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex flex-column text-dark align-items-center">
    <%= render question.answers %>
  
    <div class="new-user-comment w-100 d-inline-flex align-items-center">
      <%= image_tag 'https://avatars1.githubusercontent.com/u/50052646?s=460&u=263b2a06edea0362ab6eeb5a67b600b949db5610&v=4',
        class: 'img-fluid rounded-circle user-avatar me-2'%>
      
      <div class="input-group">
        <input class="form-control my-2" placeholder="Type your answer here"></input>
        <%= link_to 'Ok', '', class: 'btn btn-orange my-auto'%>
      </div>
    </div>
  </div>
</div>