<div class="row">
  <div class="col-md-12 col-lg-9 mt-4 mb-3 order-1">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
      <h5 class="mb-3 mb-md-0">
        <%= t('app_titles.questions.feed') %>
      </h5>
      <%= render 'questions/nav_tabs' %>
    </div>
  </div>
  <div class="col-md-12 col-lg-9 order-3 order-lg-2">
    <% if @questions.any? && !@message %>
      <%= render @questions %>
      <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center mb-3">
        <div class="entries-info text-center">
          <%= page_entries_info @questions %>
        </div>
        <div class="questions-pagination">
          <%= paginate @questions %>
        </div>
      </div>
    <% else %>
      <div class="alert alert-secondary" role="alert">
        <%= raw @message || t('messages.views.no_questions_yet') %>
      </div>
    <% end %>
  </div>
  <div class="col-md-12 col-lg-3 col-sm-12 order-2 order-lg-3">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-12 mb-3 order-lg-1">
        <%= render 'shared/cards/followed_tags' %>
      </div>
      <div class="col-12 mb-3 d-none d-sm-block order-md-3 order-lg-2">
        <%= render 'shared/cards/top_users_card', collection: @top_users, top_ranking: true %>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-12 mb-3 d-none d-sm-block order-md-2 order-lg-3">
        <%= render 'shared/cards/popular_tags' %>
      </div>
    </div>
  </div>
</div>