<div class="row">
  <div class="col-md-12 col-lg-9 mt-4 mb-3 order-1">
    <div class="d-flex align-items-center justify-content-between">
      <h5 class="mb-0">
        Your feed
      </h5>
        <ul class="nav nav-pills small navigation-tabs">
          <li class="nav-item">
            <%= link_to 'Most voted', url_for(request.params.slice(:tag)), class: "nav-link main-tab active" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Newest', url_for(request.params.merge(tab: 'newest')), 
              class: 'nav-link newest' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Answered', url_for(request.params.merge(tab: 'answered')), 
              class: 'nav-link answered' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Unanswered', url_for(request.params.merge(tab: 'unanswered')), 
              class: 'nav-link unanswered' %>
          </li>
        </ul>
    </div>
  
  </div>
  <div class="col-md-12 col-lg-9 order-3 order-lg-2">
    <% if @questions.any? && !@message %>
      <%= render @questions %>
    <% else %>
      <h5 class="fw-normal text-center mt-3">
        <%= raw @message || 'No questions to display.' %>
      </h5>
    <% end %>
  </div>
    <div class="col-md-12 col-lg-3 col-sm-12 order-2 order-lg-3">
      <div class="row">
        <div class="col-sm-6 col-lg-12 mb-3">
          <div class="card followed-tags-card">
            <div class="card-header bg-white">
              <h6 class="card-title py-2 mb-0">
                <i class="fas fa-user-tag me-2"></i>Followed tags
              </h6>
            </div>
            <div class="card-body followed-tags">
              <% if @tags %>
                <%= render partial: 'tags/partials/tag', collection: @tags %>
              <% else %>
                <p class="fw-bold mb-1 text-muted">
                  Follow a tag to see it here.
                </p>
                <span class="text-muted small">
                  The tags you follow are shown here. They are used to personalize your Feed
                  with questions that may be of your interest.
                </span>
              <% end %>
            </div>
            <div class="card-footer text-center">
              <%= link_to 'Browse tags', tags_path, class: 'btn btn-outline-orange btn-sm fw-bold' %>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-12 d-none d-sm-block">
          <%= render 'shared/top_users_card', collection: @top_users, top_ranking: true %>
        </div>
      </div>
    </div>
  </div>
</div>