<div class="row mt-4">
  <div class="col-md-9">
    <div class="card question" id="question_<%= @question.id %>">
      <div class="card-header mt-2 bg-white">
        <p class="text-orange fw-bold mb-2">
          <%= raw status_to_html(@question.status) %>
        </p>
        <div class="d-flex mb-2">
          <%= link_to profile_path(@question.user), class: 'mb-auto' do %>
            <% if @question.user.avatar? %>
              <%= image_tag(@question.user.avatar_url, 
                class: 'rounded-circle user-avatar-50 me-2') %>
            <% else %>
              <%= image_tag 'no-avatar.png',
              class: 'rounded-circle user-avatar-50 me-2 border' %>
            <% end %> 
          <% end %>
          <div class="d-flex flex-column">
            <div class="card-title">
              <h4 class="question-title-show text-break mb-1"><%= @question.title %></h4>
            </div>
            <p class="text-muted mb-0 question-info">
              Asked by 
              <%= link_to @question.user.name, profile_path(@question.user), class: 'fw-bold' %>
              
              <span class="question-date">
                on <b><%= format_datetime(@question.created_at) %></b>
                (<%= time_ago_in_words(@question.created_at) %> ago)
              </span>
              &nbsp;·&nbsp;
              <span>Viewed <%= pluralize(@question.impressions_count, 'time') %></span>
            </p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <div class="d-flex flex-column question-votes text-muted mt-1" 
            data-user-vote=<%= user_vote(@question) if user_signed_in? %> id="question_<%= @question.id %>_votes">
            <%= link_to upvote_question_path(@question),
              method: :patch,
              remote: true,
              class: 'text-muted vote-up' do %>
              <i class="fas fa-caret-up"></i>
            <% end %>

            <span class="question-vote-up fs-5"><%= @question.weighted_score %></span>

            <%= link_to downvote_question_path(@question),
              method: :patch,
              remote: true,
              class: 'text-muted vote-down mt-1' do %>
              <i class="fas fa-caret-down"></i>
            <% end %>
          </div>
          <div class="d-flex flex-column flex-fill ms-4">
            <% if @question.closed? %>
              <div class="alert alert-orange" role="alert">
                <%= t("closing_notices.#{@question.closing_notice}_html", 
                  duplicate_title: @question.duplicate.title,
                  duplicate_url: question_path(@question.duplicate)) %> <br />
                Closed <%= time_ago_in_words(@question.closed_at) %> ago.
                <% if can? :update, @question %>
                  <hr />
                  <i class="far fa-lightbulb fa-lg me-2"></i> <b>Want to improve this question?</b> Update the question so it follows the
                  <%= link_to 'Questz guidelines', '#' %>. 
                  <%= link_to 'Improve this question', edit_question_path(@question, reopen: true), 
                    class: 'btn btn-outline-orange fw-bold mt-3'%>
                <% end %>
              </div>
            <% end %>
            <div class="question-body trix-content">
              <%= sanitize @question.body %>
            </div>
            <div class="tags mt-2">
              <% @question.tags.each do |tag| %>
                <%= link_to tag_in_questions_path(tag) do %>
                  <span class="badge question-tag text-wrap text-start mt-1"><%= tag.name %></span>
                <% end %>
              <% end %>
            </div>
            <div class="question-actions small text-muted mt-3">
            <span class="share">
              <i class="fas fa-share-square"></i>&nbsp;Share
            </span>
            <% if can? :update, @question %>
              <span class="edit">
                <%= link_to edit_question_path(@question), class: 'text-muted' do %>
                  <i class="fas fa-edit"></i>&nbsp;Edit
                <% end %> 
              </span>
            <% end %>
            <% if can? :destroy, @question %>
              <span class="delete">
                <%= link_to question_path(@question), method: :delete, class: 'text-muted' do %>
                  <i class="fas fa-trash"></i>&nbsp;Delete
                <% end %> 
              </span>
            <% end %>
            <span class="report">
              <i class="far fa-flag"></i>&nbsp;Report
            </span>
            </div>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush bg-light">
        <div class="d-flex align-items-center justify-content-between py-3 bg-white">
          <h5 class="mb-0 ms-3"><%= pluralize(@question.answers_count, 'answer') %></h5>
          <% if can? :create, @question => Answer %>
            <%= link_to new_question_answer_path(@question), 
              class: 'btn btn-sm btn-orange fw-bold p-2 me-2' do %>
              <i class="fas fa-comment"></i> Answer this question 
            <% end %>
          <% end %>
        </div>
        <%= render @question.answers.includes([:user]), user_logged: user_signed_in? %>
      </ul>
      <div class="card-footer d-flex flex-column text-dark">
        
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header bg-white">
        <h6 class="card-title my-2">Related questions</h6>
      </div>
      <% if @related_questions.any? %>
        <ul class="list-group list-group-flush">
          <%= render partial: 'related_questions', collection: @related_questions, as: :question %>
        </ul>
      <% else %>
        <div class="card-body">
          <p class="mb-1">No questions to display just yet.</p>
          <%= link_to 'Ask a new one', new_question_path, class: 'fw-bold' %>
        </div>
      <% end %>
    </div>
  </div>
</div>