<div class="row mt-4">
  <h3 class="text-center mb-3">Edit <%= resource_name.to_s.humanize %> profile</h3>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), 
    html: { method: :put }) do |f| %>
    <div class="card pb-0 mx-auto col-md-8">
      <div class="card-header bg-white">
        <h5 class="text-orange my-2">Personal information</h5>
      </div>
      <div class="card-body pb-0">
        <div class="row justify-content-center">
          <div class="col-md-4 text-center" id="edit-avatar">
            <% if current_user.avatar? %>
              <%= image_tag(current_user.avatar_url, 
                class: 'img-fluid rounded-circle mb-3 d-block border user-avatar-preview mx-auto',
                id: 'user-avatar') %>
            <% else %>
              <%= image_tag('no-avatar.png',
              class: 'img-fluid rounded-circle mb-3 border user-avatar-preview', 
              id: 'user-avatar') %>
            <% end %> 
            
            <a class="btn btn-outline-orange" 
              data-bs-toggle="modal" 
              data-bs-target="#changeAvatarModal">
              <i class="fas fa-pencil-alt"></i> Change profile picture
            </a>
          </div>
          <div class="col-md-8">
            <div class="form-inputs">
              <%= f.input :email, required: true %>
              <%= f.input :name, maxlength: 50 %>
              <%= f.input :username, maxlength: 20, wrapper_html: { class: 'mb-0' } %>
            </div>  
          </div>
        </div>
      </div>
      <h5 class="text-orange border-top border-bottom py-3 ps-3 mt-4 mb-3">Change password</h5>
      <div class="row px-3 mb-2 mt-1">
        <div class="col-md-6">
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="col-md-6">
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: 'new-password' } %>
        </div>
      </div>

      <div class="card-footer py-2">
        <div class="form-actions mx-auto w-50">
          <%= f.input :current_password,
                      hint: 'we need your current password to confirm your changes',
                      label_html: { class: 'text-orange' },
                      required: true,
                      input_html: { autocomplete: 'current-password' } %>
          <%= f.button :submit, 'Update', class: 'btn btn-orange w-100' %>
        </div>
      </div>    
    </div>
    <%= render 'devise/registrations/change_avatar_modal', resource: resource, f: f %>
    <%= render 'devise/registrations/delete_account' %>
  <% end %>
</div>