 <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark-blue">
  <div class="container-fluid px-5">
    <h2 class="text-dark logo-font navbar-brand mb-0">
      <%= link_to root_path, class: 'align-middle text-light' do %>
        <%= inline_svg_tag('question.svg', id: 'logo') %> Questz
      <% end %>
    </h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-0 align-items-center">
        <% if user_signed_in? %>
        <li class="nav-item" >
          <%= link_to root_path, class: 'active nav-link' do %>
            <i class="fas fa-home fa-lg"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to '', class: 'nav-link' do %>
            <i class="fas fa-comment-dots fa-lg"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to '', class: 'nav-link' do %>
            <i class="fas fa-star fa-lg"></i>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" id="profile" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user fa-lg"></i>
          </a> 
          <ul class="dropdown-menu user-actions-menu" aria-labelledby="profile">
            <li>
              <%= link_to profile_path(current_user), class: 'dropdown-item' do %>
                <i class="fas fa-user-circle"></i>&nbsp; Your profile
              <% end %>  
            </li>
            <li>
              <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
                <i class="fas fa-edit"></i>&nbsp; Edit user info
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
                <i class="fas fa-sign-out-alt"></i>&nbsp; Sign out
              <% end %>
            </li>       
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to new_question_path, class: 'nav-link btn btn-orange' do %>
            <i class="fas fa-plus fa-lg"></i>
          <% end %> 
        </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, 
                class: 'nav-link btn btn-default font-weight-bold text-uppercase me-2' do %>
              <small>Login</small>
            <% end %>
          </li>
          <li class="nav-item mr-2">
            <%= link_to new_user_registration_path, 
                class: 'nav-link btn btn-orange font-weight-bold text-uppercase' do %>
              <small>Sign up</small>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>