<div class="row">
  <div class="col-md-9 mt-4 mb-3">
    <div class="d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Your feed</h5>
        <ul class="nav nav-pills small navigation-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Most voted</a>
          </li>
          <li class="nav-item">
            <%= link_to 'Newest', questions_path(tab: 'newest'), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Answered', questions_path(tab: 'answered'), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Unanswered', questions_path(tab: 'unanswered'), class: 'nav-link' %>
          </li>
        </ul>
    </div>
  
  </div>
  <div class="col-md-9">
    <%= render @questions %>
  </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <%= render 'followed_tags' %>
          <div class="custom-actions text-center">
          <%= link_to tags_path, class: 'btn btn-outline-orange mt-2' do %>
            <small class="fw-bold text-uppercase">all tags</small>
          <% end %>
          </div>
        </div>
        <div class="col-md-12 mt-3">
          <%= render 'shared/top_users_card', collection: @top_users, top_ranking: true %>
        </div>
      </div>
    </div>
  </div>
</div>