<li class="list-group-item answer py-3 <%= 'chosen-answer' if answer.chosen? %>" id="answer_<%= answer.id %>">
  <div class="d-flex">
    <div class="d-flex flex-column align-items-center answer-votes text-muted" 
      data-user-vote=<%= user_vote(answer) if user_logged %> id="answer_<%= answer.id %>_votes">
      <%= link_to upvote_question_answer_path(answer),
        method: :patch,
        remote: true,
        class: 'text-muted vote-up' do %>
        <i class="fas fa-caret-up"></i>
      <% end %>

      <span class="answer-total-votes fs-5"><%= answer.weighted_score %></span>
    
      <%= link_to downvote_question_answer_path(answer),
        method: :patch,
        remote: true,
        class: 'text-muted vote-down mt-1' do %>
        <i class="fas fa-caret-down"></i>
      <% end %>
      
      <% if can? :choose, answer %>
        <%= link_to choose_question_answer_path(answer), method: :patch,
          class: answer.chosen? ? 'text-orange' : 'text-muted' do %>
          <span class="fa-stack fa-xs choose-answer mt-2">
            <i class="fas fa-comment-alt fa-stack-2x"></i>
            <i class="fas fa-check text-white fa-stack-1x"></i>
          </span>
        <% end %>
      <% end %>
    </div>
    <div class="d-flex flex-column ms-4">
      <div class="answer-body trix-content mb-2">
        <%= sanitize answer.body %>
      </div>
      <div class="answer-info text-muted">
        <span>
          Answered by 
          <span class="answered-by fw-bold">
            <%= link_to profile_path(answer.user) do %>
              <% if answer.user.avatar? %>
              <%= image_tag(answer.user.avatar_url, 
                class: 'img-fluid rounded-circle user-avatar-30 mx-1') %>
              <% else %>
                <%= image_tag 'no-avatar.png',
                class: 'img-fluid rounded-circle user-avatar-30 mx-1' %>
              <% end %>
              <%= answer.user.name %>
            <% end %>
          </span>
        </span>
        
        <span class="question-date">
          on <b><%= format_datetime(answer.created_at) %></b>
          (<%= time_ago_in_words(answer.created_at) %> ago)
        </span>
      </div>
      <div class="answer-actions small text-muted">
        <% if can?(:edit, answer) %>
          <span class="edit">
            <%= link_to edit_question_answer_path(@question, answer), class: 'text-muted' do %>
              <i class="fas fa-edit"></i>&nbsp;Edit
            <% end %> 
          </span>
        <% end %>
        <% if can? :destroy, answer %>
          <span class="delete">
            <%= link_to question_answer_path(answer), method: :delete, class: 'text-muted' do %>
              <i class="fas fa-trash"></i>&nbsp;Delete
            <% end %> 
          </span>
        <% end %>
        <span class="share">
          <i class="fas fa-share-square"></i>&nbsp;Share
        </span>
        <span class="report">
          <i class="far fa-flag"></i>&nbsp;Report
        </span>
      </div>
    </div>
  </div>
</li>