<%= simple_form_for @answer, url: :question_answers do |f| %>
  <div class="card mt-3">
    <div class="card-header py-3 bg-white">
      <h5 class="card-title mb-0">
        Question: 
        <span class="text-orange"><%= @question.title %></span>
      </h5>
    </div>
    <div class="card-body">
      <div class="question-body trix-content">
        <%= sanitize @question.body %>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header py-3 bg-white">
      <h5 class="card-title mb-0">Your answer</h5>
    </div>
    <div class="card-body my-2">
      <div class="errors">
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      </div>
      <%= f.input :body, as: :trix_editor, label: false %>
    </div>
    <div class="card-footer py-3 bg-white d-flex justify-content-between">
      <%= link_to 'Return to question', question_path(@question), class: 'btn btn-default'%>
      <%= f.button :submit, class: 'btn btn-orange' %>

    </div>
  </div>
  
<% end %>