<% title t('app.description') %>

<div class="row g-5 vh-100 align-items-center py-5">
  <div class="col-lg-6 col-md-12">
    <%= image_tag 'hero.png', class: 'img-fluid' %>
  </div>
  <div class="col-lg-6 col-md-12 text-lg-start text-center d-flex align-items-center">
    <div class="hero">
      <h1><%= t('app.description') %></h1>
      <p class="fs-5 text-muted"><%= t('app.callout') %></p>

      <div class="w-100 d-flex justify-content-center justify-content-lg-end mt-4">
        <%= link_to questions_path, class: 'btn btn-primary p-3' do %>
          <%= t('buttons.questions.explore') %>
          <i class="fas fa-arrow-right ms-2"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>