<% title 'Privacy Policy' %>

<h3 class="mt-3">PRIVACY NOTICE</h3>

<span class="fw-bold">
  Last updated July 20, 2021
</span>

<div class="privacy-content">
  <p class="mt-3">
    Thank you for choosing to be part of our community at Questz (<b>"Company", "we", "us", "our"</b>). 
    We are committed to protecting your personal information and your right to privacy. If you 
    have any questions or concerns about this privacy notice, or our practices with regards to 
    your personal information, please contact us at questz-app@gmail.com.
  </p>

  <p>
    When you visit our website <%= link_to 'http://questz.herokuapp.com' %> (the <b>"Website"</b>), 
    and more generally, use any of our services (the <b>"Services"</b>, which include the Website), 
    we appreciate that you are trusting us with your personal information. 
    We take your privacy very seriously. In this privacy notice, we seek to explain to you 
    in the clearest way possible what information we collect, how we use it and what rights 
    you have in relation to it. We hope you take some time to read through it carefully, as 
    it is important. If there are any terms in this privacy notice that you do not agree with, 
    please discontinue use of our Services immediately.
  </p>

  <p>
    This privacy notice applies to all information collected through our Services 
    (which, as described above, includes our Website).
  </p>

  <p class="fw-bold mb-4">
    Please read this privacy notice carefully as it will help you understand what we do with 
    the information that we collect.
  </p>

  <div class="container-fluid">
    <div class="row mb-3">
      <div id="toc" class="list-group col-md-3">
        <div class="sticky-top toc">
          <a class="list-group-item list-group-item-action" href="#collected-information">
            1. WHAT INFORMATION DO WE COLLECT?
          </a>
          <a class="list-group-item list-group-item-action" href="#information-use">
            2. HOW DO WE USE YOUR INFORMATION?
          </a>
          <a class="list-group-item list-group-item-action" href="#information-share">
            3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?
          </a>
          <a class="list-group-item list-group-item-action" href="#cookies">
            4. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?
          </a>
          <a class="list-group-item list-group-item-action" href="#third-party-websites">
            5. WHAT IS OUR STANCE ON THIRD-PARTY WEBSITES?
          </a>
          <a class="list-group-item list-group-item-action" href="#information-storage-time">
            6. HOW LONG DO WE KEEP YOUR INFORMATION?
          </a>
          <a class="list-group-item list-group-item-action" href="#information-security">
            7. HOW DO WE KEEP YOUR INFORMATION SAFE?
          </a>
          <a class="list-group-item list-group-item-action" href="#privacy-rights">
            8. WHAT ARE YOUR PRIVACY RIGHTS?
          </a>
          <a class="list-group-item list-group-item-action" href="#notice-updates">
            9. DO WE MAKE UPDATES TO THIS NOTICE?
          </a>
          <a class="list-group-item list-group-item-action" href="#notice-contact">
            10. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?
          </a>
          <a class="list-group-item list-group-item-action" href="#data-review">
            11. HOW CAN YOU REVIEW, UPDATE OR DELETE THE DATA WE COLLECT FROM YOU?
          </a>
        </div>
      </div>
      <div
        class="scrollspy-example col-md-9"
        tabindex="0"
      >
        
        <%= render 'pages/privacy_policy_sections/01_collected_information' %>

        <%= render 'pages/privacy_policy_sections/02_information_use' %>
        
        <%= render 'pages/privacy_policy_sections/03_information_share' %>

        <%= render 'pages/privacy_policy_sections/04_cookies' %>

        <%= render 'pages/privacy_policy_sections/05_third_party_websites' %>

        <%= render 'pages/privacy_policy_sections/06_information_storage_time' %>

        <%= render 'pages/privacy_policy_sections/07_information_security' %>

        <%= render 'pages/privacy_policy_sections/08_privacy_rights' %>

        <%= render 'pages/privacy_policy_sections/09_notice_updates' %>

        <%= render 'pages/privacy_policy_sections/10_notice_contact' %>

        <%= render 'pages/privacy_policy_sections/11_data_review' %>
      </div>
    </div>
  </div>
</div>