<%= link_to profile_path(answer.user), 
  class: 'mb-auto' do %>
  <% if answer.user.avatar? %>
    <%= image_tag(answer.user.avatar_url, 
      class: 'rounded-circle user-avatar-50 me-2') %>
  <% else %>
    <%= image_tag 'no-avatar.png',
    class: 'rounded-circle user-avatar-50 me-2 border' %>
  <% end %> 
<% end %>
<div class="d-flex flex-column w-100">
  <div class="answer-info d-flex flex-lg-row flex-column align-items-lg-center mb-1">
    <p class="text-break text-muted mb-lg-0 mb-2 me-2">
      <%= link_to answer.user.name, profile_path(answer.user), target: '_blank', class: 'fw-bold' %>
      &nbsp;·&nbsp; <%= format_datetime(answer.created_at.localtime) %>
    </p>

    <div class="question-flags d-flex g-2">
      <% if answer.has_restricted_word? %>
        <span class="badge bg-danger me-2">
          Restricted word
        </span>
      <% end %>

      <% if answer.has_link? %>
        <span class="badge bg-warning">
          Contains link
        </span>
      <% end %>
    </div>
  </div>
  <p class="mb-0 answer-body trix-content">
    <%= sanitize answer.body %>
  </p>
</div>
<div class="answer-actions">
  <%= get_button_with_confirmation(
    admin_answer_path(answer),
    'delete', t('messages.confirmations.delete', resource: 'answer'),
    'trash',
    'btn btn-sm btn-danger me-auto'
  ) %>

</div>