<div class="d-flex justify-content-between align-items-center mt-4 mb-3">
  <h4 class="mb-0"><%= t('app_titles.tags.index') %></h4>
  <ul class="nav nav-pills small navigation-tabs">
    <li class="nav-item">
      <%= active_link_to t('buttons.shared.nav_tabs.popular'), 
        tags_path(popular: true), 
        class: 'nav-link main-tab', 
        active: !params.keys.any? { |f| %w(newest alphabetic_order).include?(f) } %>
    </li>
    <li class="nav-item">
      <%= active_link_to t('buttons.shared.nav_tabs.name'), 
        tags_path(alphabetic_order: true), 
        class: 'nav-link alphabetic_order', 
        active: { alphabetic_order: true } %>
    </li>
    <li class="nav-item">
      <%= active_link_to t('buttons.shared.nav_tabs.newest'), 
        tags_path(newest: true), 
        class: 'nav-link newest', 
        active: { newest: true } %>
    </li>
  </ul>
</div>

<div class="row masonry" id="tags_row">
  <% if @tags.any? %>
    <%= render partial: 'tags/partials/card_tag', collection: @tags, as: :tag %>
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center mb-3">
      <div class="entries-info text-center">
        <%= page_entries_info @tags %>
      </div>
      <div class="tags-pagination">
        <%= paginate @tags %>
      </div>
    </div>
  <% else %>
    <h5 class="fw-normal text-center mt-3">
      <%= t('messages.views.no_tags_to_display') %>
    </h5>
  <% end %>
</div>