
<div class="row mt-4">
  <div class="col-md-12 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-center flex-column flex-md-row align-items-center">
          <h4 class="d-flex align-items-center mb-0">
            <div class="flex-shrink-0">
              <span class="badge rounded-pill bg-orange-150 text-primary p-2">
                <i class="fas fa-tag m-1"></i> 
              </span>
            </div>
            <div class="flex-grow-1 ms-2">
              <%= @tag %>
            </div>
          </h4>
          <% if user_signed_in? %>
            <span id="follow-button" class="flex-shrink-0 mt-3 mt-md-0 mt-lg-0">
              <%= render 'tags/follow_buttons' %>
            </span>
          <% end %>
        </div>
          
        <div class="mt-3 text-muted row justify-content-center text-center gy-2 gx-5">
          <div class="qustions-count col-lg-auto col-sm-12 col-md-6">
            <i class="fas fa-archive"></i>
            <%= pluralize(@tag.taggings_count, 'total question') %>
          </div>
          <div class="answered-count col-lg-auto col-sm-12 col-md-6">
            <i class="fas fa-check"></i>
            <%= pluralize(@questions_count['answered'], 'answered question') %>
          </div>
          <div class="unanswered-count col-lg-auto col-sm-12 col-md-6">
            <i class="fas fa-question-circle"></i>
            <%= pluralize(@questions_count['unanswered'], 'unanswered question') %>
          </div>
          <div class="followers-count col-lg-auto col-sm-12 col-md-6">
            <i class="fas fa-user-check"></i>
            <%= pluralize(@tag.followers_count, 'follower') %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 order-2 order-lg-1">
    <h5 class="mt-4 mb-3">Questions in this tag</h5>
  
  </div>
  <div class="col-lg-9 order-lg-2 order-3">
    <% if @questions.any? %>
      <%= render @questions %>

      <div class="d-flex my-3 justify-content-between align-items-center">
        <div class="entries-info">
          <%= page_entries_info @questions %>
        </div>
        <div class="questions-pagination">
          <%= paginate @questions %>
        </div>
      </div>
    <% else %>
      <div class="no-questions mt-2">
        <p>There are no questions tagged
          <%= link_to tag_path(@tag) do %>
            <span class="badge question-tag text-primary"><%= @tag.name %></span>
          <% end %>.
        </p>
        <%= link_to 'View available tags for Questz.', tags_path %>
      </div>
    <% end %>
  </div>
  <div class="col-lg-3 order-lg-3 order-1 mb-3">
    <div class="row">
      <div class="col-md-12">
        <%= render 'shared/top_users_card', collection: @top_users, tag_only: true  %>
      </div>
    </div>
  </div>
</div>