
<h2 class="text-center mb-4">Iniciar sessão</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                input_html: { autocomplete: "email", placeholder: 'Your email' },
                wrapper_html: { class: 'has-float-label'} %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password", placeholder: 'Your password' },
                wrapper_html: { class: 'has-float-label'} %>
    <div class="d-flex justify-content-between">
    
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <small><%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %></small>
      <% end %>
    </div>
  
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Entrar", class: 'btn btn-orange btn-block' %>
  </div>
<% end %>

<!-- 
<div class="d-flex">
  <%= link_to '', class: 'btn btn-outline-default flex-fill' do %>
    <i class="fab fa-facebook-f"></i> Login com Facebook
  <% end %>
  <%= link_to '', class: 'btn btn-outline-default flex-fill' do %>
    <i class="fab fa-google"></i> Login com Google
  <% end %>
</div>
-->

<%= render "devise/shared/links" %>
