<% title "Report ##{@report.number}" %>
<div class="card border-top-primary">
  <div class="card-header d-flex align-items-center justify-content-between bg-white">
    <p class="mb-0 py-2">
      <i class="fas fa-flag me-2"></i>
      Report n. <b>#<%= @report.number %></b>
    </p>
    <span class="badge bg-<%= get_class_for_report_status(@report.status) %>">
      <%= @report.status.humanize %>
    </span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h6>Report info</h6>
        <hr class="dropdown-divider">
        <dl class="row">
          <dt class="col-sm-4">Reason</dt>
          <dd class="col-sm-8"><%= @report.reason.humanize %></dd>
          <% if @report.mod_intervention? %>
            <dt class="col-sm-4">Mod attention details</dt>
            <dd class="col-sm-8"><%= @report.mod_attention_details %></dd>
          <% end %>
          <dt class="col-sm-4">Reported on</dt>
          <dd class="col-sm-8"><%= l(@report.created_at.localtime, format: :long) %></dd>
          <dt class="col-sm-4">Assigned to</dt>
          <dd class="col-sm-8"><%= handle_user_info(@report.assigned_user) %></dd>
          <% if @report.solved? || @report.closed? %>
            <dt class="col-sm-4">Solved by</dt>
            <dd class="col-sm-8"><%= handle_user_info(@report.solved_by) %></dd>
            <dt class="col-sm-4">Solved on</dt>
            <dd class="col-sm-8"><%= l(@report.solved_at.localtime, format: :long) %></dd>
          <% end %>
          <% if @report.closed? %>
            <dt class="col-sm-4">Closing notice</dt>
            <dd class="col-sm-8"><%= @report.closing_notice_details %></dd>
          <% end %>
        </dl>
      </div>
      <div class="col-md-6">
        <h6>Reporter info</h6>
        <hr class="dropdown-divider">
        <dl class="row">
          <dt class="col-sm-4">User</dt>
          <dd class="col-sm-8">
            <%= @report.user.name %> (@<%= @report.user.username %>)
            <%= link_to profile_path(@report.user), target: '_blank' do %>
            <i class="fas fa-external-link-alt ms-2"></i>
          <% end %>
          </dd>
          <dt class="col-sm-4">Last signed in</dt>
          <dd class="col-sm-8"><%= l(@report.user.last_sign_in_at.localtime, format: :long) %></dd>
          <dt class="col-sm-4">Member since</dt>
          <dd class="col-sm-8">
            <%= time_ago_in_words(@report.user.created_at.localtime) %> ago
            (<%= format_date(@report.user.created_at.localtime) %>)
          </dd>
        </dl>
      </div>
      <div class="col-md-12 mt-3">
        <% if @report.reportable_type == 'Question' %>
          <%= render 'admin/reports/reportables/question' %>
        <% else %>
          <%= render 'admin/reports/reportables/answer' %>
        <% end %>
      </div> <!-- End col -->
    </div>
  </div>
  <div class="card-footer bg-white py-3">
    <% if can?(:assign, @report) %>
      <%= get_button_with_confirmation(
        assign_admin_report_path(@report),
        'patch', t('messages.confirmations.assign'),
        'user-shield',
        'btn btn-sm btn-info me-auto',
        'Assign'
      ) %>
    <% end %>

    <% if can?(:close, @report) %>
      <%= link_to close_modal_admin_report_path(@report),
        remote: true,
        class: "btn btn-sm btn-danger" do %>
        <i class="fas fa-ban"></i> Close
      <% end %>
    <% end %>

    <% if can?(:solve, @report) %>
      <%= get_button_with_confirmation(
        solve_admin_report_path(@report),
        'patch',
        t('messages.confirmations.solve'),
        'check',
        'btn btn-sm btn-success flex-fill',
        'Mark as solved'
      ) %>
    <% end %>
  </div>
</div>