
  <div class="d-flex flex-column flex-shrink-0 text-white bg-dark" style="width: 4.5rem">
    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip" data-bs-placement="right">
      <%= image_tag 'logo.png' %>
      <span class="visually-hidden">Icon-only</span>
    </a>
    <hr>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <%= active_link_to admin_path, 
          class: 'nav-link py-3 rounded-0 link-light', 
          active: :exclusive,
          title: 'Dashboard', data: { 'bs-toggle': 'tooltip', 'bs-placement': 'right' } do %>
          <i data-feather="home" class="icon me-2"></i>
        <% end %>
      </li>
      <li>
        <%= active_link_to admin_questions_path,
          class: 'nav-link py-3 rounded-0 link-light' do %>
          <i data-feather="help-circle" class="icon me-2"></i>
        <% end %>
      </li>
      <li>
        <%= active_link_to 'aaaa',
          class: 'nav-link py-3 rounded-0 link-light' do %>
          <i data-feather="tag" class="icon me-2"></i>
        <% end %>
      </li>
      <li>
        <%= active_link_to 'aaaa',
          class: 'nav-link py-3 rounded-0 link-light' do %>
          <i data-feather="flag" class="icon me-2"></i>
        <% end %>
      </li>
      <li>
        <%= active_link_to 'aaaa',
          class: 'nav-link py-3 rounded-0 link-light' do %>
          <i data-feather="user" class="icon me-2"></i>
        <% end %>
      </li>
    </ul>
  </div>      