
  <aside class="text-white bg-dark fixed-top overflow-hidden h-100 px-0" id="sidebar">
    <%= link_to admin_path, class: 'd-block logo-link link-dark text-center' do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <%= active_link_to admin_path, 
          class: 'nav-link py-3 rounded-0 link-light', 
          active: :exclusive,
          title: 'Dashboard', data: { 'bs-toggle': 'tooltip', 'bs-placement': 'right' } do %>
          <i data-feather="home" class="icon me-2"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to admin_questions_path,
          class: 'nav-link py-3 rounded-0 link-light',
          title: t('app_titles.admin.questions') do %>
          <i data-feather="help-circle" class="icon me-2"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to admin_tags_path,
          class: 'nav-link py-3 rounded-0 link-light',
          title: t('app_titles.admin.tags') do %>
          <i data-feather="tag" class="icon me-2"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to admin_reports_path,
          active: :inclusive,
          class: 'nav-link py-3 rounded-0 link-light',
          title: 'Reports',
          data: { 'bs-toggle': 'collapse', 'bs-target': '#collapseExample'} do %>
          <i data-feather="flag" class="icon me-2"></i>
        <% end %>
      </li>
      <div class="collapse <%= 'show' if controller_name == 'reports' %>" id="collapseExample">
        <li class="nav-item">
          <%= active_link_to admin_reports_path,
            class: 'nav-link py-3 rounded-0 link-light',
            title: 'All Reports',
            active: :exclusive,
            class_active: 'opened-submenu' do %>
            <i data-feather="clipboard" class="icon me-2"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= active_link_to opened_admin_reports_path,
            class: 'nav-link py-3 rounded-0 link-light',
            title: t('app_titles.admin.reports.opened'),
            active: :exclusive,
            class_active: 'opened-submenu' do %>
            <i data-feather="columns" class="icon me-2"></i>
          <% end %>
        </li>
      </div>
      <% if current_user.adm? %>
        <li class="nav-item">
          <%= active_link_to admin_users_path,
            class: 'nav-link py-3 rounded-0 link-light',
            title: t('app_titles.admin.users') do %>
            <i data-feather="user" class="icon me-2"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </aside>      