<div class="notification_wrapper">
  <div class="notification_header ">
    <h3 class="my-3 d-flex align-items-center">
      Your notifications
      <%= link_to open_all_notifications_path_for(@target, @index_options.slice(:routing_scope, :devise_default_routes)), method: :post, remote: true,
        class: 'ms-2' do %>
        <span class="notification_count">
          <span class="badge fs-6 <%= @target.has_unopened_notifications?(@index_options) ? 'unopened bg-primary' : 'bg-secondary' %>">
            <%= @target.unopened_notification_count(@index_options) %>
          </span>
        </span>
      <% end %>
    </h3>
  </div>
  <div class="card mb-4">
    <div class="card-body p-0">
      <div class="list-group notifications">
        <% if @index_options[:with_group_members] %>
          <%= render_notification @notifications, @index_options.slice(:routing_scope, :devise_default_routes).merge(fallback: :default_without_grouping, with_group_members: true) %>
        <% else %>
          <%= render_notification @notifications, @index_options.slice(:routing_scope, :devise_default_routes).merge(fallback: :default) %>
        <% end %>
      </div>
    </div>
    <div class="card-footer d-flex flex-column flex-lg-row justify-content-between align-items-center">
      <div class="entries-info py-2 text-center">
        <%= page_entries_info @notifications %>
      </div>
      <div class="notifications-pagination">
        <%= paginate @notifications %>
      </div>
    </div>
  </div>
</div>