<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shared/meta_tags' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
    <%= javascript_include_tag 'config', 'type': 'module' %>
    <%= javascript_include_tag 'shared', 'type': 'module' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body id="main">
    <%= render 'admin/layouts/sidebar' %>
    <%= render 'admin/layouts/navbar' %>

    <div id="main-content">
      <div class="container-fluid px-4">
        <h3 class="my-4"><%= controller_name.capitalize %></h3>
        <%= yield %>
      </div>
    </div>
    
    <%= custom_flash_messages %>
    <%= render 'layouts/shared/confirmation_modal' %>
    <%= render 'admin/layouts/shared/close_modal' %>
  </body>
</html>
