<!DOCTYPE html>
<html>
  <%= render 'layouts/shared/head' %>

  <body id="main" class="d-flex flex-column" 
    <%= add_scrollspy_data if controller_name == 'pages' && params[:id] == 'privacy_policy' %>
  > 
    <%= render 'layouts/shared/navbar' %>

    <div class="container-fluid px-5">
      <%= yield %>
    </div>
    
    <%= render 'layouts/shared/confirmation_modal' %>
    <%= custom_flash_messages %>

    <% unless current_page?(root_url) && controller_name == 'pages' %>
      <%= render 'layouts/shared/footer' %>
    <% end %>
  </body>
</html>
