<!DOCTYPE html>
<html>
  <head>
    <title><%= t('application_name') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'general', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'config', 'type': 'module' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body id="main"> 
    <%= render 'layouts/navbar' %>
    <div class="container-fluid px-5">
      <%= yield %>
    </div>
  </body>
</html>
