<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shared/meta_tags' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'devise', media: 'all' %>
    <%= javascript_include_tag 'devise' %>
    <%= javascript_include_tag 'config', 'type': 'module' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body class="bg-light">
    <div class="container-fluid px-0 h-100" id="users-container">
      <div class="row row-eq-height justify-content-center h-100 no-gutters">
        <div class="col-lg-5 d-none d-lg-block d-xl-block d-xxl-block bg-secondary px-0">
          <div class="sticky-top">
            <%= image_tag "#{controller_name}.jpg", class: 'users-backdrop' %>
          </div>
        </div>
      <div class="col-lg-7 py-3 my-auto">
        <%= yield %>
      </div>
    </div>
    <%= custom_flash_messages %>
  </body>
</html>